@import url('https://fonts.googleapis.com/css?family=Inconsolata');

div.ui.basic.inverted.segment{
  margin-bottom: 0px;
}

em.show-location {
  float: left;
  margin-right: 25%;
}

h3.ui.header.show-location {
  margin-bottom: 0px;
}

i.chevron.right.icon {
  float: right;
  transition: ease-in .1s;
  color: white;
}

p.ui.header, h3.ui.header {
  font-family: 'Inconsolata', monospace;
}

.artist-column {
  margin-left: 5%;
}

.basic-segment-group{
  background: transparent;
}

.logo-image {
  margin-top: 25px;
}

.primary-gradient {
  height: 4px;
  width: 100%;
}

.show-component {
  max-width: 40%;
}

.secondary-gradient {
  width: 100%;
  height: 1px;
}

.ticket-link {
  margin-left: 25px;
}

.ui.basic.segment em {
  color: white;
}

#about-segment {
  margin-left: 5%;
  margin-right: 5%;
}

@media screen and (max-width: 480px){

  iframe{
    max-width: 100%;
  }

  em.show-location {
    float: left;
    margin-right: 0px;
    margin-bottom: .5em;
    margin-top: 0px;
    display: block;
  }

  h2.show-location {
    display: block;
    font-size: 2em;
  }

  div.ui.basic.inverted.segment.about-component.show-component{
    margin-left: 5%;
  }

  .show-component{
    width: 346px;
    max-width: 100%;
  }

  .ui.inverted.menu .dropdown.item:hover, .ui.inverted.menu .link.item:hover, .ui.inverted.menu a.item:hover, .ui.link.inverted.menu .item:hover{
    background: transparent;
  }

}
