
.gradient-border{

  background: linear-gradient(to right, rgb(185, 111, 126), rgb(99, 74, 79));
}

.basic-segment-group{
  background: transparent;
}


.bordertest {
    content:'';
    width:75%;
    height:2px;
    margin-bottom: 1em;
}

.logo{
  background-image: url('./assets/ticket-logo-2.svg');
  /* background-repeat: repeat; */
  /* height: 250px; */
  /* max-width: 250px; */
  height: 350px;
  /* margin-top: 0px; */
  /* z-index: 10000; */
  /* position: fixed;
  top: 0;
  left: 0; */
}
